
.gradient-custom {
    /* fallback for old browsers */
    background: rgb(0,115,139);

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(0,115,139), rgb(0,38,44));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(0,115,139), rgb(0,38,44))
}
.doctrbtn{
    border-radius: 0.5rem;
    font-size: 15px;
    font-weight: bold;
    color: #00454f;
    border: none;
}
.doctrbtn:hover{
    background-color: #004b5b !important;
}